.recent-submissions-table table {
    margin-top: 7px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.recent-submissions-table th {
    border: 1px solid black;
    padding: 4px 8px;
}

.recent-submissions-table td {
    border: 1px solid black;
    padding: 4px 8px;
}