.recentSubmissionsTable table {
    border-collapse: separate;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.recentSubmissionsTable tr th {
    background-color: rgb(var(--color-container-selected));
    padding: 4px 8px;
    text-align: left;
}

.recentSubmissionsTable tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

.recentSubmissionsTable tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

.recentSubmissionsTable tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.recentSubmissionsTable tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
  
.recentSubmissionsTable tbody tr:nth-child(even) {
    background-color: rgb(var(--color-container-selected));
}

.recentSubmissionsTable td {
    padding: 4px 8px;
}