.simple-game-select {
    flex: 2.32;
    margin: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    height: 78vh;
    top: calc(var(--navbar-height) + calc(var(--navbar-height)/2) + 19px);
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
}

.simple-game-select-title {
    line-height: 5vh;
}

.simple-game-select-title h2 {
    margin: 0;
}
  
.simple-game-select-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.simple-game-select-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #f1f1f1;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.simple-game-select-tab span {
    padding: 5px;
}

.simple-game-select-tab-active {
    background-color: #ffffff;
    cursor: default;
}