.game-layout-header {
    display: flex;
    margin: 10px;
    align-items: center;
}

.game-layout-header-info {
    margin-left: 10px;
}

.game-layout-header-info ul {
    list-style-type: none;
    padding: 0;
}

.game-layout-header-info ul li {
    margin-bottom: 12px;
}

.game-layout-level-searchbar {
    width: 400px;
    margin-left: auto;
    margin-bottom: auto;
}

.game-layout-level-searchbar-results {
    position: absolute;
    z-index: 10;
    background-color: white;
    border: none;
    margin-top: 5px;
    width: 400px;
    max-height: 180px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.game-layout-level-searchbar-category {
    margin: 10px;
}

.game-layout-level-searchbar-result {
    padding-left: 5px;
    width: 100%;
    height: 30px;
    display: inline-flex;
    align-items: center;
}

.game-layout-level-searchbar-result-name {
    display: flex;
    height: 100%;
    width: 70%;
    text-align: left;
    line-height: 30px;
}

.game-layout-level-searchbar-result button {
    margin: 5px;
}

.game-layout-level-searchbar-result-empty {
    width: 15%;
}

.game-layout-level-searchbar-results::-webkit-scrollbar {
    display: none;
}

.game-layout-body {
    display: flex;
}

.game-layout-body-content {
    flex: 8;
}

.game-layout-body-sidebar {
    flex: 2;
    text-align: center;
}

.game-layout-body-info {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.game-layout-body-info h2 {
    margin: 0;
}

.game-layout-body-links {
    display: flex;
    justify-content: space-around;
}

#game-layout-header-download {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#game-layout-header-download a {
    display: inline-flex;
}