/* ===== GENERAL STYLING ===== */

.gameLayout {
    --header-height: 207px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.body {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}

.bodyLeft {
    flex: 1;
}

.bodyRight {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rankings h2 {
    margin: 0;
    padding: 5px 0;
}

/* ===== MEDIA QUERIES FOR SMALLER DEVICES ===== */

@media (max-width: 1067px) {
    .bodyLeft {
        width: 100%;
    }

    .bodyRight {
        width: 100%;
    }
}