#header {
    margin: 0;
    padding: 5px 0;
}

.title {
    display: flex;
    gap: 10px;
}

.title button {
    margin: auto 0;
}

.filters {
    padding-bottom: 10px;
}

.btns {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.selected {
    background-color: rgb(var(--color-nav));
    color: rgb(var(--color-text));
}

.selected:hover {
    background-color: rgb(var(--color-nav-hover));
}

.boolean {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#bottomDivide {
    display: none;
}

#right {
    justify-content: flex-end;
}

/* ===== MOBILE LAYOUT FOR SMALLER DEVICES ===== */
@media (max-width: 820px) {
    #categoryBtns {
        flex-wrap: wrap;    
    }

    .boolean {
        grid-template-columns: 1fr;
    }

    #bottomDivide {
        display: block;
    }

    #right {
        padding-top: 10px;
        justify-content: center;
    }

}