.approvals {
    display: flex;
    flex: 1;
}

.approvals-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.approvals-content {
    flex-basis: 80%;
}

.approvals-body h2 {
    text-align: center;
}

.approvals-body table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
}

.approvals-body th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.approvals-body td {
    border: 1px solid black;
    padding: 5px;
}

.approvals-body tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.approvals-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.approvals-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 70%;
    background-color: #fff;
    border-radius: 10px;
}

.approvals-popup-close-btn {
    text-align: right;
}

.approvals-popup-body {
    display: flex;
}

.approvals-popup-left {
    display: flex;
    align-items: center;
    flex-basis: 70%;
}

.approvals-popup-left {
    text-align: center;
}

.approvals-popup-right {
    flex-basis: 30%;
    text-align: center;
}

.approvals-popup-form {
    display: inline-block;
    text-align: left;
}

.approvals-popup-input {
    margin: 10px;
    white-space: nowrap;
}

.approvals-popup-textarea {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.approvals-popup-notice {
    cursor: default;
}

.approvals-popup-buttons {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approvals-popup-buttons button {
    margin-left: 5px;
    margin-right: 5px;
}

.approvals-popup-notice {
    margin: 10px;
}

#approvals-comment-wrapper {
    display: flex;
    flex-direction: row;
}