.approvals {
    display: flex;
    flex: 1;
}

.approvals-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.approvals-content {
    flex-basis: 80%;
}

.approvals-body h2 {
    text-align: center;
}

.approvals-submission-row {
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 88%;
    flex-direction: row;
    padding: 5px;
    cursor: pointer;
}

.approvals-submission-row:hover {
    background-color: #f1f1f1;
}

.approvals-submission-row-element {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approvals-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.approvals-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 60%;
    background-color: #fff;
    border-radius: 10px;
}

.approvals-popup-close-btn {
    text-align: right;
}