.versions {
    display: flex;
    padding: var(--app-padding);
    gap: var(--app-padding);
}

.versions h3, .versions h2, .versions hr {
    margin: 0;
}

.left {
    width: var(--sidebar-width);
}

.right {
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.versionForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.versionForm button {
    width: fit-content;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

#structure {
    --chart-name-width: 400px;
    --step-padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#structure th {
    text-align: left;
}

.structureHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.structureVersions {
    display: flex;
    gap: 2px;
}

.toggleAll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxPadding {
    width: calc(var(--chart-name-width) + var(--step-padding) + var(--step-padding) + 6px);
}

.modeHeader {
    padding-left: var(--step-padding);
}

.levels {
    padding-left: calc(2 * var(--step-padding));
}

.levelColumn {
    width: 400px;
}