.versions {
    display: flex;
    padding: var(--app-padding);
    gap: var(--app-padding);
}

.versions h3, .versions h2, .versions hr {
    margin: 0;
}

.left {
    width: var(--sidebar-width);
}

.right {
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.versionForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.versionForm div {
    max-width: 300px;
}

.versionForm button {
    width: fit-content;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 5px;
}