/* ===== CSS VARIABLES ===== */

:root {
    --app-padding: 20px;
    --color-background: 17, 22, 24;
    --color-button: 203, 195, 227;
    --color-button-hover: 190, 180, 210;
    --color-button-selected: 180, 170, 200;
    --color-container: 53, 50, 61;
    --color-container-hover: 255, 255, 255, 0.13;
    --color-container-selected: 75, 70, 80;
    --color-error: 244, 67, 54;
    --color-even: 0, 0, 0, 0.18;
    --color-link: 226, 187, 236;
    --color-link-hover: 196, 153, 255;
    --color-header: 39, 16, 31;
    --color-nav: 58, 19, 68;
    --color-nav-hover: 77, 42, 86;
    --color-odd: 0, 0, 0, 0.07;
    --color-text: 249, 249, 249;
    --color-text-hover: 220, 220, 220;
    --container-border-radius: 15px;
    --font: 'Gabarito', cursive;
    --navbar-height: 76px;
    --searchbar-height: 30px;
    --z-low: 1;
    --z-medium: 2;
    --z-high: 3;
    --z-top: 4;
}

/* ===== HTML TAGS ===== */

body {
    margin: 0;
    font-family: var(--font);
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text));
}

a {
    color: rgb(var(--color-link));
    text-decoration: none;
}

a:hover {
    color: rgb(var(--color-link-hover));
    text-decoration: underline;
}

button {
    cursor: pointer;
    font-family: var(--font);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(var(--color-button));
    white-space: nowrap;
}

button:hover {
    background-color: rgb(var(--color-button-hover));
}

button[disabled]:hover {
    background-color: rgb(var(--color-button));
}

button[disabled] {
    cursor: default;
}

details summary {
    cursor: pointer;
}

hr {
    height: 2px;
    background-color: rgba(var(--color-container-selected), 0.8);
    border: none;
}

input[type=checkbox] {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

input[type=file], input[type=file]::-webkit-file-upload-button {
    cursor: pointer; 
}

/* ===== GLOBAL CLASSES ===== */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.even {
    background-color: rgba(var(--color-even));
}

.odd {
    background-color: rgba(var(--color-odd));
}

.inline-icon {
    display: inline;
    vertical-align: middle;
}

.table {
    width: 100%;
    overflow-x: auto;
}

.table table {
    width: 100%;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.table thead {
    background-color: rgb(var(--color-container));
}

.table th {
    text-align: left;
    padding: 4px 8px;
}

.table tbody {
    background-color: rgb(var(--color-container));
}

.table tr:first-child th:first-child {
    border-top-left-radius: var(--container-border-radius);
}

.table tr:first-child th:last-child {
    border-top-right-radius: var(--container-border-radius);
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: var(--container-border-radius);
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: var(--container-border-radius);
}

.table thead tr {
    background-color: rgba(var(--color-even));
}

.table tbody tr:nth-child(even) {
    background-color: rgba(var(--color-even));
}

.table tbody tr:nth-child(odd) {
    background-color: rgba(var(--color-odd));
}

.table td {
    text-align: left;
    padding: 4px 8px;
}

.cancel {
    color: rgb(var(--color-text));
    border: 1px solid rgb(var(--color-text));
    background-color: transparent;
    padding: 4px 9px;
}

.cancel:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.cancel:disabled {
    color: #ccc;
    border-color: #ccc;
}

.cancel:disabled:hover {
    background-color: transparent;
}

.hyperlink {
    color: rgb(var(--color-link));
    width: fit-content;
}

.hyperlink:hover {
    color: rgb(var(--color-link-hover));
    cursor: pointer;
    text-decoration: underline;
}