:root {
    --color-background: 17, 22, 24;
    --color-button: 203, 195, 227;
    --color-button-hover: 190, 180, 210;
    --color-container: 53, 50, 61;
    --color-container-selected: 75, 70, 80;
    --color-even: 0, 0, 0, 0.07;
    --color-link: 226, 187, 236;
    --color-link-hover: 196, 153, 255;
    --color-header: 39, 16, 31;
    --color-nav: 58, 19, 68;
    --color-nav-hover: 77, 42, 86;
    --color-odd: 0, 0, 0, 0.18;
    --color-text: 249, 249, 249;
    --container-border-radius: 15px;
    --navbar-height: 75px;
}

body {
    margin: 0;
    font-family: 'Gabarito', cursive;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text));
}

a {
    color: rgb(var(--color-link));
    text-decoration: none;
}

a:hover {
    color: rgb(var(--color-link-hover));
    text-decoration: underline;
}

button {
    cursor: pointer;
    font-family: 'Gabarito', cursive;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(var(--color-button));
    white-space: nowrap;
}

button:hover {
    background-color: rgb(var(--color-button-hover));
}

button[disabled] {
    cursor: default;
    background-color: rgb(var(--color-button));
}

select {
    outline: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.even {
    background-color: rgba(var(--color-even));
}

.odd {
    background-color: rgba(var(--color-odd));
}