:root {
    --color-background: 17 22 24;
    --color-container: 53 50 61;
    --color-text: 249 249 249;
    --color-link: 230 230 230;
    --color-link-hover: 77 42 86;
    --color-header: 39 16 31;
    --container-border-radius: 15px;
    --navbar-height: 75px;
}

body {
    margin: 0;
    font-family: 'Gabarito', cursive;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text));
}

a {
    color: rgb(var(--color-link));
    text-decoration: none;
}

a:hover {
    color: rgb(var(--color-link-hover));
}

button {
    cursor: pointer;
    font-family: 'Gabarito', cursive;
}

button[disabled] {
    cursor: default;
}

.app {
    padding: 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}