/* ===== GENERAL STYLING ===== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: var(--navbar-height);
    background-color: rgb(var(--color-container));
    padding: 5px 0;
    z-index: var(--z-low);
}

.header h2 {
    margin: 0;
}

.filter {
    display: flex;
    justify-content: center;
}

/* ===== MEDIA QUERY FOR SMALLER DEVICE ===== */

@media (max-width: 550px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    #message {
        margin: 0;
        padding-top: 8px;
    }
}