.records-header h1 {
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.records-buttons {
    text-align: center;
}

.records-buttons button {
    margin-left: 5px;
    margin-right: 5px;
}

.records-buttons button:hover {
    cursor: pointer;
}

.records-body table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 25px auto;
    table-layout: fixed;
    width: 50%;
}

.records-body td {
    box-sizing: border-box;
    width: 33%;
    text-align: center;
    border: 1px solid black;
}

.records-body a:visited {
    color: blue;
}

.records-info-row {
    font-weight: bold;
}