.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.header h2 {
    margin: 0;
}

.filter {
    display: flex;
    justify-content: center;
}

/* ===== MEDIA QUERY FOR SMALLER DEVICE ===== */

@media (max-width: 550px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    #message {
        margin: 0;
        padding-top: 8px;
    }
}