/* ===== GENERAL STYLING ===== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.header h2 {
    margin: 0;
}

.filter {
    display: flex;
    justify-content: center;
}

.recordsTable {
    table-layout: fixed !important;
}

.recordsTable th:nth-child(1), .recordsTable td:nth-child(1) {
    width: 35%;
}

.recordsTable th:nth-child(2), .recordsTable td:nth-child(2) {
    width: 20%;
}

.recordsTable th:nth-child(3), .recordsTable td:nth-child(3) {
    width: 50%;
}

/* ===== MEDIA QUERY FOR SMALLER DEVICE ===== */

@media (max-width: 550px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    #message {
        margin: 0;
        padding-top: 8px;
    }
}