.page-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page-viewer {
    padding: 5px;
}

.page-controller {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.page-controller select {
    width: 50px;
}

.page-number-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.page-number-btn:hover {
    background-color: #ddd;
}
  
.page-number-btn-selected {
    background-color: black;
    color: #fff;
}

.page-number-btn-selected:hover {
    background-color: #333333;
}

.page-controller-spread {
    margin-top: auto;
}