/* ===== GENERAL STYLING ===== */

.pageController {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
}

.pageController select {
    width: 50px;
    background-color: rgb(var(--color-button));
}

.pageController button {
    height: 100%;
}

.pageBtns {
    display: flex;
    gap: 5px;
    overflow-x: auto;
}

.spread {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

/* ===== MEDIA QUERY FOR PHONES ===== */

@media (max-width: 525px) {
    .dropdown {
        gap: 10px;
        width: 100%;
    }

    .dropdown button, .dropdown select {
        flex: 1;
    }
}