.page-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page-viewer {
    padding: 5px;
}

.page-controller {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.page-controller select {
    width: 50px;
}