/* ===== GENERAL STYLING ===== */

.submissionHandler {
    display: flex;
    padding: var(--app-padding);
    gap: var(--app-padding);
}

.left {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.content p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;
}

.notClickable {
    background-color: #f0f0f0;
    opacity: 0.6;
    cursor: default;
}

.content tbody tr.clickable:hover {
    background-color: rgba(var(--color-container-selected), 0.5);
    cursor: pointer;
}

/* ===== MEDIA QUERIES FOR SMALLER DEVICES ===== */

@media (max-width: 909px) {
    .submissionHandler {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }
}