.submission-handler {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.submission-handler-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submission-handler-list {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    height: 78vh;
    top: 14vh;
    z-index: 1;
    position: sticky;
}

.submission-handler-list-title {
    line-height: 5vh;
}

.submission-handler-list-title h2 {
    margin: 0;
}
  
.submission-handler-list-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.submission-handler-list-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #f1f1f1;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.submission-handler-list-tab span {
    padding: 5px;
}

.submission-handler-list-tab-active {
    background-color: #ffffff;
    cursor: default;
}

.submission-handler-checked {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submission-handler-checked-header {
    text-align: center;
}

.submission-handler-submission-table {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.submission-handler-checked-table {
    max-height: 30vh;
    overflow-y: auto;
    margin: 0 auto;
    overflow-anchor: initial;
}

.submission-handler-body table {
    border-collapse: collapse;
    width: 100%;
}

.submission-handler-body th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.submission-handler-body td {
    border: 1px solid black;
    padding: 5px;
}

.submission-handler-body tbody tr:not(.submission-handler-empty-row):not(.submission-handler-not-clickable):hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.submission-handler-body tbody tr.submission-handler-not-clickable {
    background-color: #f0f0f0;
    opacity: 0.6;
    pointer-events: none;
}

.submission-handler-empty-row {
    text-align: center;
}

.submission-handler-new {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submission-handler-new-header {
    text-align: center;
}

.submission-handler-btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.submission-handler-action-symbol {
    display: flex;
    align-items: center;
}

.submission-handler-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.submission-handler-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 70%;
    max-height: 75vh;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
}

.submission-handler-popup-close-btn {
    text-align: right;
}

.submission-handler-popup-body {
    display: flex;
}

.submission-handler-popup-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 70%;
    text-align: center;
}

.submission-handler-popup-right {
    flex-basis: 30%;
    text-align: center;
}

.submission-handler-popup-form {
    display: inline-block;
    text-align: left;
}

.submission-handler-popup-input {
    margin: 10px;
    white-space: nowrap;
}

.submission-handler-popup-textarea {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.submission-handler-popup-buttons {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submission-handler-popup-buttons button {
    margin-left: 5px;
    margin-right: 5px;
}

.submission-handler-popup-notice {
    cursor: default;
}

#submission-handler-comment-wrapper {
    display: flex;
    flex-direction: row;
}