.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nameInput {
    width: var(--level-name-width);
    min-width: var(--level-name-min-width);
}