.selectList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selector {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.selector button {
    height: fit-content;
}