.selectList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 50%;
}

.selector {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.selector button {
    height: fit-content;
}

.error {
    padding-left: 14px;
}