/* ===== GENERAL STYLING ===== */
.tabs {
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.tab {
    width: 90px;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.active {
    cursor: default;
    background-color: rgb(var(--color-button-selected));
}

.active:hover {
    background-color: rgb(var(--color-button-selected));
}

/* ===== MEDIA QUERIES FOR SMALLER DEVICES ===== */

@media (max-width: 620px) {
    .tab {
        width: 70px;
        height: 30px;
    }
}