.tabs {
    display: flex;
}

.tab {
    flex: 1;
    text-align: center;
    background-color: #f1f1f1;
    padding: 8px;
    border: 1px solid #ccc;
    border-bottom: none;
    width: 90px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-active {
    background-color: #ffffff;
    cursor: default;
}