.levelList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    overflow-x: auto;
}

.levelListBtn {
    width: fit-content;
    height: fit-content;
}

.level {
    display: flex;
}

.levelInput {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.nameInput {
    width: var(--level-name-width);
    min-width: var(--level-name-min-width);
}

.dropdown {
    min-width: var(--dropdown-min-width);
}

.wideDropdown {
    min-width: var(--dropdown-wide-min-width);
}