.levelList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
}

.levelListBtn {
    width: fit-content;
    height: fit-content;
}

.level {
    display: flex;
}

.levelInput {
    display: flex;
    gap: 8px;
    align-items: center;
}