.searchbarInput {
    height: 30px;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    border: 2px solid rgba(var(--color-text), 0.5);
    border-radius: 5px;
    caret-color: rgb(var(--color-text));
    width: 100%;
    box-sizing: border-box;
}

.searchbarInput input {
    color: rgb(var(--color-text));
}

.searchbarInput input:focus {
    outline: none;
}

.input {
    flex: 1;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    height: 100%;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.icon {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear {
    min-width: 0;
    width: auto;
    border: none;
    background-color: transparent;
    height: 100%;
    color: red;
}

.clear:hover {
    background-color: rgb(var(--color-container-selected));
}