.medals-header {
    text-align: center;
}

.medals-header button {
    margin-left: 5px;
    margin-right: 5px;
}

.medals-body {
    display: flex;
}

.medals-table {
    flex: 1;
}

.medals-table h2 {
    text-align: center;
}

.medals-table table {
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 80%;
    border-collapse: collapse;
}

.medals-table th {
    text-align: center;
    border: 1px solid black;
    padding: 4px 8px;
}

.medals-table td {
    border: 1px solid black;
    padding: 4px 8px;
}

.medals-table tr:nth-child(even) {
    background-color: #d3d3d3;
}

.medals-empty {
    font-style: italic;
    text-align: center;
}

.medals-user-info {
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}

.medals-user-image {
    width: 50px;
    height: 50px;
}