.user {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-info {
    display: flex;
    flex-direction: column;
    border: 2px solid #808080;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.user-info a {
    margin-left: auto;
    margin-right: auto;
}

.user-info-socials {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.user-info-social {
    flex: 1;
}

.social-media-logo {
    width: 40px;
    height: auto;
    padding-top: 18px;
}

.user-discord-button {
    padding: 0;
    border: none;
    width: 50px;
    height: 32px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

.user-about-me p {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
}

.user-stats-link {
    color: blue;
}

.user-missing {
    text-align: center;
}

.user-featured-video {
    display: flex;
    flex-direction: column;
    border: 2px solid #808080;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}