.user-profile {
    display: flex;
    width: 500px;
}

.user-info {
    display: flex;
    flex-direction: column;
    flex: auto;
    border: 2px solid #808080;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.user-info h2 {
    text-align: center;
}

.user-country-name {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.user-country-name span {
    margin-right: 2px;
}

.user-country-name p {
    margin-left: 2px;
}

.user-info a {
    margin-left: auto;
    margin-right: auto;
}

.social-media-logo {
    width: 50px;
    height: auto;
    padding-top: 18px;
}

.user-image {
    width: 300px;
    height: 300px;
    display: block;
    border: 2px solid #808080;
    border-radius: 5px;
    margin: 10px;
}

.user-stats-games {
    margin-left: 10px;
}

.user-stats-games table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 500px;
    font-size: 25px;
}

.user-stats-link {
    color: blue;
}