.user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--app-padding);
}

.user h2 {
    margin: 0;
    padding: 10px 0;
}

.user p {
    margin: 0;
    padding: 10px 0;
}

.socials {
    display: flex;
    gap: 15px;
    padding: 5px 0;
}

.user-about-me p {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
}

.twitter {
    display: flex;
    justify-content: center;
}

.roleHeader {
    display: flex;
    align-items: center;
    gap: 5px;
}