.user {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-info {
    display: flex;
    flex-direction: column;
    border: 2px solid #808080;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 20px;
}

.user-info a {
    margin-left: auto;
    margin-right: auto;
}

.user-info-socials {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.user-about-me p {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
}

.user-missing {
    text-align: center;
}

.user-featured-video {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 45vh;
}

.user-featured-video-player {
    margin-bottom: 5px;
}

.user-games {
    border: 1px solid black;
    border-radius: 5px;
}

.user-game {
    padding: 20px;
}

.user-game:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.user-game a {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}