.user {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-info {
    display: flex;
    flex-direction: column;
    border: 2px solid #808080;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.user-info a {
    margin-left: auto;
    margin-right: auto;
}

.user-info-socials {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.user-info-socials .social-link {
    flex: 1;
    display: flex;
    align-items: center;
}

.user-info-discord {
    flex: 1;
    display: flex;
    align-items: center;
}

.user-discord-button {
    padding: 0;
    border: none;
    width: 50px;
    height: 32px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}

.user-about-me p {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
}

.user-missing {
    text-align: center;
}

.user-featured-video {
    display: flex;
    flex-direction: column;
    border: 2px solid #808080;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.user-featured-video-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 45vh;
}

.user-featured-video-player {
    margin-bottom: 5px;
}