/* ===== GENERAL STYLING ===== */

.gameHeader {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left h1 {
    margin: 10px 0;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.info span {
   display: inline-flex;
   align-items: center;
   height: 30px;
}

.version {
    height: 30px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.version select:focus {
    outline-width: 0;
}

/* ===== MEDIA QUERY FOR SMALLER DEVICES ===== */

@media (max-width: 940px) {
    #boxart {
        display: none;
    }
}

/* ===== MEDIA QUERY FOR MOBILE DEVICES ===== */

@media (max-width: 680px) {
    .gameHeader {
        flex-direction: column;
        gap: 10px;
    }
}