.gameHeader {
    display: flex;
    justify-content: space-between;
    background-color: rgb(var(--color-container));
    border-radius: var(--container-border-radius);
    padding: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left h1 {
    margin: 10px 0;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.info span {
   display: inline-flex;
   align-items: center;
   height: 30px;
}