.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btns {
    display: flex;
    gap: 5px;
}

.selected {
    background-color: rgb(var(--color-nav));
    color: rgb(var(--color-text));
}

.selected:hover {
    background-color: rgb(var(--color-nav-hover)) !important;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-top: 20px;
}