.totalizer-header {
    text-align: center;
}

.totalizer-header button {
    margin-left: 5px;
    margin-right: 5px;
}

.totalizer-body {
    display: flex;
}

.totalizer-container {
    flex: 1;
}

.totalizer-container h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.totalizer-input {
    text-align: center;
    margin-bottom: 10px;
}

.totalizer-container table {
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 80%;
    border-collapse: collapse;
}

.totalizer-container th {
    border: 1px solid black;
}

.totalizer-container tr:nth-child(even) {
    background-color: #d3d3d3;
}

.totalizer-container td {
    border: 1px solid black;
    padding: 4px 8px;
}

.totalizer-empty {
    font-style: italic;
    text-align: center;
}

.totals-user-info {
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}