/* ===== GENERAL STYLING ===== */

.totalizer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h2 {
    margin: 0;
}

.filter {
    display: flex;
    align-items: center;
    gap: 7px;
}

.filter input[type=checkbox] {
    margin: 0;
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.difference {
    font-size: 12px;
}

/* ===== MEDIA QUERY FOR SMALLER DEVICE ===== */

@media (max-width: 550px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}

/* ===== MEDIA QUERY FOR PHONES ===== */

@media (max-width: 402px) {
    .totalizerTable img {
        display: none;
    };
}