.submission-history-header {
    text-align: center;
}

.submission-history-body table {
    margin-top: 7px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.submission-history-body thead {
    border: 1px solid black;
}

.submission-history-body th {
    padding: 4px 8px;
    text-align: left;
}

.submission-history-body td {
    padding: 4px 8px;
}

.submission-history-body td a {
    display: inline-flex;
}

.submission-history-body table tbody tr:hover, .submission-history-body table tbody tr:nth-child(even):hover {
    background-color: lightgray;
    cursor: pointer;
}

.submission-history-body table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.submission-history-empty {
    text-align: center;
}

.submission-history-svg-wrapper {
    display: flex;
    align-items: center;
}

.submission-history-svg-wrapper button {
    display: inline-flex;
    background-color: transparent;
    border: none;
}

.submission-history-svg-wrapper button {
    display: inline-flex;
    background-color: transparent;
    border: none;
}

.submission-history-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.submission-history-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 35%;
    max-height: 75vh;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
}

.submission-history-popup-close-btn {
    text-align: right;
}

.submission-history-popup-video {
    height: 40vh;
}

.submission-history-popup-info {
    list-style: none;
    padding: 0;
}

.submission-history-popup-info {
    list-style: none;
    padding: 0;
}

.submission-history-popup-info li {
    display: flex;
    align-items: center;
    height: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submission-history-input-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.submission-history-textarea-group {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submission-history-submit-btn-wrapper {
    display: flex;
    justify-content: center;
}

.submission-history-decision-btns {
    text-align: center;
}

.submission-history-decision-btns button {
    margin-top: 5px;
    margin-right: 5px;
}