.header {
    margin: 0;
    padding: 5px 0;
}

.containerBody {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerBody tbody tr.row:hover {
    background-color: rgba(var(--color-container-selected), 0.5);
    cursor: pointer;
}

.svgWrapper {
    display: flex;
    align-items: center;
}