.record-history-header {
    text-align: center;
}

.record-history-body table {
    margin-top: 7px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.record-history-body th {
    border: 1px solid black;
    padding: 4px 8px;
}

.record-history-body td {
    border: 1px solid black;
    padding: 4px 8px;
}

.record-history-body td a {
    display: inline-flex;
}

.record-history-empty {
    text-align: center;
}

.record-history-svg-wrapper {
    display: flex;
    align-items: center;
}

.record-history-svg-wrapper button {
    display: inline-flex;
    background-color: transparent;
    border: none;
}

.record-history-svg-wrapper button {
    display: inline-flex;
    background-color: transparent;
    border: none;
}