.container {
    border-radius: var(--container-border-radius);
    background-color: rgb(var(--color-container));
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(var(--color-header));
    border-top-left-radius: var(--container-border-radius);
    border-top-right-radius: var(--container-border-radius);
    padding: 20px 10px;
}

.header h1, .header h2 {
    margin: 0;
}

.body {
    padding: 10px;
}