.userRow {
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
}

.hoverable:hover {
    background-color: rgba(var(--color-container-selected), 0.5);
    cursor: pointer;
}

.socials {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.socials a {
    margin: 0 3px;
}