.notifications-header {
    margin: auto;
    width: 40%;
}

.notifications-header-info {
    text-align: center
}

.notifications-header-list {
    text-align: center;
}

.notifications-header-list ul {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

.notifications-header-list-element {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.notifications-body {
    width: 75%;
    margin: auto;
}

.notifications-body input {
    cursor: pointer;
}

.notifications-body table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px auto;
    width: 100%;
}

.notifications-body th {
    border: 1px solid black;
}

.notifications-body td {
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

td.notifications-select-element {
    cursor: auto;
}

.notifications-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-popup-inner {
    position: relative;
    padding: 8px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
}

.notifications-popup-inner button {
    float: right;
}

.notifications-popup-inner h2 {
    text-align: center;
}

.notifications-popup-inner p {
    text-align: center;
}

.notifications-details {
    display: inline-block
}

.notifications-updated {
    background-color: yellow;
    display: block;
}