.notifications-header {
    margin: auto;
    width: 40%;
}

.notifications-header-info {
    text-align: center
}

.notifications-header-list {
    text-align: center;
}

.notifications-header-list ul {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

.notifications-header-list-element {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.notifications-body {
    width: 75%;
    margin: auto;
}

.notifications-body input {
    cursor: pointer;
}

.notifications-body table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px auto;
    width: 100%;
}

.notifications-body table tbody tr:hover, .notifications-body table tbody tr:nth-child(odd):hover {
    background-color: lightgray;
}

.notifications-body table tbody tr:nth-child(odd) {
    background-color: #f1f1f1; /* Set the background color for odd rows */
}

.notifications-body th {
    border: 1px solid black;
}

.notifications-body td {
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

td.notifications-select-element {
    cursor: auto;
}

.notifications-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-popup-inner {
    position: relative;
    padding: 8px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    border-radius: 10px;
}

.notifications-popup-inner button {
    float: right;
}

.notifications-popup-inner h2 {
    text-align: center;
}

.notifications-popup-inner p {
    text-align: center;
}

.notifications-details-wrapper {
    display: flex;
    justify-content: center;
}

.notifications-details {
    display: inline-block;
    align-items: left;
}

.notifications-details ul {
    padding: 0;
    list-style-type: none;
}

.notifications-details li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    min-height: 26px;
}

.notifications-details span {
    padding: 3px;
    display: flex;
    align-items: center;
}

.notifications-details li a {
    display: inline-flex;
}

.notifications-updated span {
    background-color: yellow;
}