.notifications-header {
    margin: auto;
    width: 40%;
}

.notifications-header-info {
    text-align: center
}

.notifications-header-list {
    text-align: center;
}

.notifications-header-list ul {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

.notifications-header-list-element {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.notifications-body {
    width: 75%;
    margin: auto;
}

.notifications-body input {
    cursor: pointer;
}

.notifications-body table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px auto;
    width: 100%;
}

.notifications-body th {
    border: 1px solid black;
}

.notifications-body td {
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.notifications-body table tbody tr:not(.notifications-empty):hover, .notifications-body table tbody tr:nth-child(odd):not(.notifications-empty):hover {
    background-color: lightgray;
}

.notifications-body table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.notifications-body table tbody tr.notifications-empty {
    background-color: white;
}

.notifications-empty td {
    cursor: auto;
}

.notifications-body tr.notifications-empty td {
    cursor: auto;
}

td.notifications-select-element {
    cursor: auto;
}

.notifications-body-selector {
    display: flex;
    align-items: center;
    gap: 5px;
}

.notifications-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-body-page-controls-wrapper {
    padding: 5px 0;
}

.notifications-details-wrapper {
    display: flex;
    justify-content: center;
}

.notifications-details {
    display: inline-block;
    align-items: left;
}

.notifications-details ul {
    padding: 0;
    list-style-type: none;
}

.notifications-details li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    min-height: 26px;
}

.notifications-details span {
    padding: 3px;
    display: flex;
    align-items: center;
}

.notifications-details li a {
    display: inline-flex;
}

.notifications-updated span {
    background-color: yellow;
}