.notifications-header {
    margin: auto;
    width: 40%;
}

.notifications-header-info {
    text-align: center
}

.notifications-header ol {
    list-style-position: inside;
    padding: 0px;
}

.notifications-body table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 25px auto;
    width: 75%;
}

.notifications-body th {
    border: 1px solid black;
}

.notifications-body td {
    border: 1px solid black;
    text-align: center;
}

.notification-body p {
    text-align: center;
}