.levelboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    gap: 7px;
    width: 100%;
}

.middleTitle {
    flex: 1;
    text-align: center;
    hyphens: auto;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.optionsBtns {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.chart tbody tr.chartRow:hover {
    background-color: rgba(var(--color-container-selected), 0.5);
    cursor: pointer;
}

.svgWrapper {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}