.levelboard-header { 
    text-align: center;
}

.levelboard-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.levelboard-title-btn {
    width: 20%;
}

.levelboard-title-name {
    width: 60%;
}

.levelboard-title h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.levelboard-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.levelboard-options {
    display: flex;
    justify-content: space-between;
}

.levelboard-tabs {
    display: flex;
}

.levelboard-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.levelboard-tab {
    flex: 1;
    text-align: center;
    background-color: #f1f1f1;
    padding: 8px;
    border: 1px solid #ccc;
    border-bottom: none;
    width: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.levelboard-tab-active {
    background-color: #ffffff;
    cursor: default;
}
  
.levelboard-tab:not(.levelboard-tab-active):hover {
    cursor: pointer;
}

.levelboard-content table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
}

.levelboard-content thead {
    border: 1px solid black;
}
  
.levelboard-content th {
    text-align: left;
    padding: 4px 8px;
}

.levelboard-content td {
    padding: 4px 8px;
}

.levelboard-content td a {
    display: inline-flex;
}

.levelboard-content a {
    text-align: center;
}

.levelboard-content table tbody tr:hover, .levelboard-content table tbody tr:nth-child(even):hover {
    background-color: lightgray;
    cursor: pointer;
}

.levelboard-content table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.levelboard-svg-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}

.levelboard-svg-wrapper button {
    display: inline-flex;
    background-color: transparent;
    border: none;
}

.levelboard-input-group {
    margin-bottom: 8px;
}

.levelboard-textarea-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.levelboard-submit-wrapper {
    display: flex;
    justify-content: center;
}

.levelboard-submit {
    display: inline-block;
}

.levelboard-submit h2 {
    text-align: center;
}

.levelboard-submit button {
    margin-left: auto;
    margin-right: auto;
}

.levelboard-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.levelboard-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 30%;
    background-color: #fff;
    border-radius: 10px;
}

.levelboard-detail-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 35%;
    max-height: 75vh;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
}

.levelboard-detail-popup-inner h1 {
    margin: 5px;
}

.levelboard-filters-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 50%;
    background-color: #fff;
    border-radius: 10px;
}

.levelboard-aligned-span {
    display: inline-block;
    vertical-align: middle;
}

.levelboard-detail-popup {
    display: flex;
    flex-direction: column;
}

.levelboard-detail-popup-video {
    height: 40vh;
}

.levelboard-detail-popup-info {
    list-style: none;
    padding: 0;
}

.levelboard-detail-popup-info li {
    display: flex;
    align-items: center;
    height: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.levelboard-update h2 {
    text-align: center;
}

.levelboard-popup form {
    margin-bottom: 8px;
}

.levelboard-popup-close-btn {
    text-align: right;
}

.levelboard-submit-record {
    width: 30%;
}

.levelboard-report-message {
    margin-top: 5px;
}

.levelboard-filter-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.levelboard-decision-btns {
    text-align: center;
}

.levelboard-decision-btns button {
    margin-top: 5px;
    margin-right: 5px;
}

.levelboard-submit-btn-wrapper {
    display: flex;
    justify-content: center;
}

.levelboard-record {
    white-space: nowrap;
}

.levelboard-filters-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.levelboard-filter-btns {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.levelboard-radio-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.levelboard-radio-btn:hover {
    background-color: #ddd;
}
  
.levelboard-radio-btn-selected {
    background-color: black;
    color: #fff;
}

.levelboard-radio-btn-selected:hover {
    background-color: #333333;
}

.levelboard-filters-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 20px 0;
}