/* ===== GENERAL STYLING ===== */

.levelboard {
    display: flex;
    flex-direction: column;
    gap: var(--app-padding);
}

.title {
    gap: 7px;
    width: 100%;
}

.middleTitle {
    flex: 1;
    text-align: center;
    hyphens: auto;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.optionsBtns {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.chart tbody tr.chartRow:hover {
    background-color: rgba(var(--color-container-selected), 0.5);
    cursor: pointer;
}

.svgWrapper {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}

.record {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.difference {
    font-size: 12px;
}

/* ===== MEDIA QUERY FOR MOBILE DEVICES ===== */

@media (max-width: 550px) {
    .options {
        flex-direction: column-reverse;
    }
}