.levelboard-header { 
    text-align: center;
}

.levelboard-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.levelboard-title h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.levelboard-title button {
    appearance: none;
    margin-top: 19px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}

.levelboard-buttons button {
    margin: 3px;
}

.levelboard-toggle {
    margin: 5px;
}

.levelboard-container table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
  
.levelboard-container th {
    border: 1px solid black;
    text-align: center;
    padding: 4px 8px;
}

.levelboard-container td {
    border: 1px solid black;
    padding: 4px 8px;
}

.levelboard-container a {
    text-decoration: none;
    text-align: center;
}

.levelboard-container tr:nth-child(even) {
    background-color: #d3d3d3;
}

.levelboard-user-info {
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}

.levelboard-input-group {
    margin-bottom: 8px;
}

.levelboard-submit {
    text-align: center;
}

.levelboard-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.levelboard-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
}

.levelboard-popup form {
    margin-bottom: 8px;
}

.levelboard-popup button {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.report-levelboard-popup {
    text-align: right;
}