/* ===== GENERAL STYLING ===== */
.btn {
    background-color: transparent;
    border: none;
    color: rgb(var(--color-link));
    padding: 4px;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(var(--color-nav-hover));
    color: rgb(var(--color-link-hover));
}

.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.profile {
    display: flex;
    align-self: center;
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 7px;
    margin-right: 7px;
    background-color: rgb(var(--color-container));
    gap: 5px;
    border-radius: 4px;
}

.avatarLinkWrapper {
    display: flex;
    align-items: center;
}

.avatarWrapper {
    display: flex;
    align-items: center;
}

.usernameWrapper {
    padding-left: 7px;
}

.profileLinks {
    display: flex;
}

.profileLink {
    display: flex;
    justify-content: center;
    min-width: 40px;
}

.profileLink a:hover {
    text-decoration: none;
}

.profileLink button {
    display: flex;
    color: rgb(var(--color-link))
}

.profileLink button:hover {
    color: rgb(var(--color-link-hover));
    background-color: transparent;
}