.game {
    display: flex;
}

.game-info {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.game-rules ol {
    padding-inline-start: 30px;
}

.game-recent-submissions table {
    margin-top: 7px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.game-recent-submissions th {
    border: 1px solid black;
    padding: 4px 8px;
}

.game-recent-submissions td {
    border: 1px solid black;
    padding: 4px 8px;
}

.game-level-list {
    flex: 1;
}

.game-radio-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-radio-btn {
    margin: 5px;
}

.game-level-list h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.game-level-list table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.game-mode-name {
    background-color: blue;
    cursor: pointer;
    width: 100%;
    line-height: 12px;
}

.game-mode-name td {
    width: 100%;
}

.game-level {
    background-color: aqua;
    line-height: 1px;
}

.game-level button {
    margin: 0px 10px;
}

.game-level-name {
    width: 80%;
}