.game {
    display: flex;
}

.game-info {
    flex: 1;
    margin: 10px;
}

.game-info h2 {
    text-align: center;
}

.game-rules ol {
    padding-inline-start: 30px;
    text-align: left;
}

.game-recent-submissions table {
    margin-top: 7px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.game-recent-submissions th {
    border: 1px solid black;
    padding: 4px 8px;
}

.game-recent-submissions td {
    border: 1px solid black;
    padding: 4px 8px;
}

.game-level-list {
    flex: 1;
}

.game-radio-btns {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}

.game-radio-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.game-radio-btn:hover {
    background-color: #ddd;
}
  
.game-radio-btn-selected {
    background-color: black;
    color: #fff;
}

.game-radio-btn-selected:hover {
    background-color: #333333;
}

.game-radio-btn input[type="radio"]:not(:checked) {
    cursor: pointer;
}

.game-level-list h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.game-mode-selector {
    margin-left: auto;
    margin-right: auto;
}

.game-mode-body-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    cursor: pointer;
    padding: 15px 8px 15px 6px;
}

.game-mode-body-name h3 {
    margin: 0;
}

.game-mode-body-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    line-height: 1px;
    padding: 5px 6px;
}

.game-mode-body-level-btns {
    display: flex;
    gap: 8px;
}

.game-mode-body-level-btns button {
    min-width: 40px;
}