.game-searchbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.game-header {
    text-align: center;
}

.game-header button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-header h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-body {
    display: flex;
}

.game-level-list {
    flex: 1;
}

.game-level-list h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.game-level-list table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.game-mode-name {
    background-color: blue;
    cursor: pointer;
    width: 100%;
    line-height: 12px;
}

.game-mode-name td {
    width: 100%;
}

.game-level {
    background-color: aqua;
    line-height: 1px;
}

.game-level button {
    margin: 0px 10px;
}

.game-level-name {
    width: 80%;
}

.game-boards {
    flex: 1;
    text-align: center;
}