/* ===== GENERAL STYLING ===== */

.game {
    display: flex;
    gap: var(--app-padding);
}

.half {
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--app-padding);
}

.rules ol {
    padding-inline-start: 20px;
}

.rules p {
    padding: 5px 0;
    margin: 0;
}

.charts {
    flex: 1;
}

.chartsBody {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modes {
    background-color: rgb(var(--color-nav));
}

/* ===== MEDIA QUERIES FOR SMALL DEVICES ===== */

@media (max-width: 1330px) {
    .game {
        flex-direction: column-reverse;
    }
}

@media (max-width: 1067px) {
    .half {
        width: 100%;
    }
}