.game-header button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-body {
    display: flex;
}

.level-select {
    flex: 1;
}

.level-select table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.lvl-time-score {
    background-color: aqua;
    line-height: 1px;
}

.lvl-time-score button {
    margin: 0px 10px;
}

.mode-name {
    background-color: blue;
    cursor: pointer;
    width: 100%;
    line-height: 12px;
}

.mode-name td {
    width: 100%;
}

.game-boards {
    flex: 1;
    text-align: center;
}