.popup {
    --min-line-heigth: 30px;
}

.popup h2 {
    margin: 0;
    padding: 10px 0;
}

.popup hr {
    width: 100%;
}

.details {
    display: inline-block;
    align-items: left;
}

.details ul {
    padding: 0;
    list-style-type: none;
}

.details li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    min-height: var(--min-line-heigth);
}

.details span {
    padding: 3px;
    display: flex;
    align-items: center;
}

.details li a {
    display: inline-flex;
}

.updated {
    display: flex;
    align-items: center;
    background-color: rgba(var(--color-button), 0.25);
    border-radius: 3px;
    min-height: var(--min-line-heigth);
}