.summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary h2, .summary h3, .summary ol {
    margin: 0;
}

.summary button {
    width: fit-content;
    padding: 25px 20px;
}