.home h2 {
    margin: 0;
}

.home-header {
    text-align: center;
}

.home-body {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.home-recent-submissions {
    border: 1px solid black;
    width: 70%;
    padding: 10px;
    margin: 0 15px;
}

.home-recent-submissions h2 {
    text-align: center;
}

.home-body table {
    margin-top: 7px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.home-body th {
    border: 1px solid black;
    padding: 4px 8px;
}

.home-body td {
    border: 1px solid black;
    padding: 4px 8px;
}

.home-user-info {
    display: flex;
    flex-direction: row;
}

.home-posts {
    border: 1px solid black;
    width: 30%;
    padding: 10px;
    margin: 0 15px;
}

.home-posts h2 {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.home-posts-header {
    text-align: center;
}

.home-posts-body {
    text-align: left;
}

.home-news-post-aligned-span {
    display: inline-block;
    vertical-align: middle;
}

.home-news-post-info {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-news-post-body {
    margin-bottom: 10px;
}