/* ===== GENERAL STYLING ===== */

.home {
    display: flex;
    align-items: flex-start;
    padding: var(--app-padding);
    gap: var(--app-padding);
}

.left {
    display: flex;
    flex-direction: column;
    gap: var(--app-padding);
    flex: 1;
}

.right {
    width: 450px;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ===== MEDIA QUERY FOR NON-DESKTOP DEVICES ===== */

@media (max-width: 1200px) {
    .home {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
}