/* ===== GENERAL STYLING ===== */
.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header h1 {
    margin: 0;
}

.body {
    display: flex;
    gap: var(--app-padding);
}

.profile {
    flex: 1;
}

.submit {
    flex: 1;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.user {
    font-size: 20px;
}

/* ===== MEDIA QUERY FOR SMALLER DEVICES ===== */
@media (max-width: 800px) {
    .body {
        flex-direction: column;
    }
}