.submissions-header {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.submissions-body {
    display: flex;
}

.submissions-body h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.submissions-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
}

.submissions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 80%;
}

.submissions-list button {
    margin-top: 10px;
    margin-bottom: 5px;
}

.submissions-list table {
    margin-top: 7px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.submissions-list th {
    border: 1px solid black;
    padding: 4px 8px;
}

.submissions-list td {
    border: 1px solid black;
    padding: 4px 8px;
    cursor: pointer;
}

.submissions-list a {
    text-decoration: none;
    text-align: center;
}

.submissions-list tr:nth-child(even) {
    background-color: #d3d3d3;
}

.submissions-user-info {
    display: flex;
    flex-direction: row;
}