.resourcesLayout {
    display: flex;
    padding: var(--app-padding);
    gap: var(--app-padding);
}

.sidebar {
    background-color: rgb(var(--color-container));
    border-radius: var(--container-border-radius);
    padding: 10px;
    top: calc(var(--navbar-height) + var(--app-padding));
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
}

.sidebar ul {
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
}

.content {
    flex: 1; 
}

.content h1 {
    margin: 0;
}