.resources-layout {
    display: flex;
}

.resources-layout-sidebar {
    flex: 2;
    padding: 15px;
    top: var(--navbar-height);
    height: 100%;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
}

.resources-layout-sidebar h1 {
    margin: 0;
}

.resources-layout-content {
    flex: 8;
    padding: 15px;
}

.resource-layout-content ul {
    padding-inline-start: 0;
}

.resources-layout-sidebar li {
    list-style: none;
    width: fit-content;
}

.resources-layout-page-item h2 {
    margin: 0;
    padding: 0;
}

.resources-layout-page-item-header {
    cursor: pointer;
}

.resources-layout-page-list {
    padding-inline-start: 0;
}

.resources-layout-page-list li {
    padding-top: 5px;
}

.resources-layout-header-list {
    padding: 0;
    padding-top: 5px;
}

.resources-layout-header-list li {
    padding: 5px 0;
    cursor: pointer;
}