.message-popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
  width: 85%;
  top: calc(var(--navbar-height) + 10px);
  position: fixed;
}
  
.message-popup-content {
  display: flex;
  align-items: center;
}

.message-popup span {
  margin: 0;
}
  
.message-popup-close {
  margin-left: auto;
  background-color: transparent;
  color: #fff;
  border: none;
}