.moderator-tabs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: var(--navbar-height);
    z-index: 100;
}

.moderator-tab {
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    width: 100%;
    line-height: calc(var(--navbar-height)/2);
}

.moderator-tab-active {
    background-color: #ffffff;
    cursor: default;
}
  
.moderator-tab:not(.moderator-layout-tab-active):hover {
    cursor: pointer;
}