.card {
    justify-self: start;
}

.card p {
    text-align: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 8px 4px;
}

.item:hover {
    background-color: rgba(var(--color-container-selected), 0.5);
    cursor: pointer;
}