.card {
    justify-self: start;
}

.card p {
    text-align: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px;
}

.item:not(.selected):hover {
    background-color: rgba(var(--color-container-selected), 0.5);
    cursor: pointer;
}

.item select {
    padding: 3px;
}

.item select:focus {
    outline-width: 0;
}

.game {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.itemContent {
    display: flex;
    justify-content: space-between;
}

.selected {
    background-color: rgb(var(--color-container-selected));
}

.selected:hover {
    cursor: default;
}