.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
}

.header h2 {
    margin: 0;
}

.medalsIcon {
    display: flex;
    align-items: center;
}

/* ===== MEDIA QUERIES FOR PHONES ===== */

@media (max-width: 600px) {
    .medalTable img {
        display: none;
    };
}