.gameModerators {
    display: flex;
    gap: var(--app-padding);
    padding: var(--app-padding);
}

.left {
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.content h2, .content p {
    margin: 0;
    padding-bottom: 10px
}

/* ===== MEDIA QUERIES FOR SMALLER DEVICES ===== */

@media (max-width: 800px) {
    .left {
        width: 100%;
    }

    .gameModerators {
        flex-direction: column;
    }
}