.game-moderators {
    display: flex;
    gap: 20px;
}

.game-moderators-content {
    flex: 7.68;
    padding: 0.05px;
}

.game-moderators-content h1 {
    text-align: center;
}

.game-moderators-container {
    border: 1px solid black;
    border-radius: 5px;
    width: 85%;
    margin: 10px auto;
}

.game-moderators-container h2 {
    padding: 10px 5px;
    margin: 0;
}

.game-moderators-container p {
    margin: 0;
    padding: 10px 5px;
}

.game-moderators-container .user-search {
    margin-top: 10px;
}

.game-moderators-btns {
    display: flex;
    justify-content: center;
    gap: 5px;
}