.gameModerators {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.left {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.content h2, .content p {
    margin: 0;
    padding-bottom: 10px
}

/* ===== MEDIA QUERIES FOR SMALLER DEVICES ===== */

@media (max-width: 800px) {
    .left {
        width: 100%;
    }

    .gameModerators {
        flex-direction: column;
    }
}