/* ===== GENERAL STYLING ===== */

.content {
    font-size: 20px;
}

.boxartContainer {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.boxart {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ===== MEDIA QUERY FOR MOBILE DEVICES ===== */

@media (max-width: 530px) {
    .boxartContainer {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-bottom: 15px;
    }

    .boxart {
        align-items: center;
    }
}