.game-card {
    flex: 1;
    margin: 10px;
    flex-direction: column;
    text-align: center;
    margin-left: 10.5%;
    margin-right: 10.5%;
}

.game-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.game-card p {
    padding-bottom: 5px;
    display: block;
}