.modeList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
}

.modeList h3 {
    margin: 0;
}

.modeInput {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.modeInput button {
    height: fit-content;
}

#addModeBtn {
    width: fit-content;
}