.pageItem {
    padding: 0;
}

.pageItem h2 {
    margin: 0;
    padding: 5px 0;
    cursor: pointer;
    width: fit-content;
}

.pageItem li {
    padding: 5px 0;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
}

.pageItem h2:hover, .pageItem li:hover {
    text-decoration: underline;
    color: rgb(var(--color-text-hover));
}

.headerList h2 {
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: fit-content;
}