.userLayout {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.left {
    max-width: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right {
    flex: 1;
    min-height: calc(100vh - var(--navbar-height));
}

/* ===== MEDIA QUERIES FOR SMALLER DEVICES ===== */

@media (max-width: 1000px) {
    .userLayout {
        flex-direction: column;
    }

    .left {
        width: 100%;
        max-width: 100%;
    }
}