.userLayout {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.left {
    max-width: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right {
    flex: 1;
}