.user-layout {
    display: flex;
}

.user-layout-content {
    flex: 7;
}

.user-layout-sidebar {
    flex: 3;
}

.user-layout-profile {
    text-align: center;
    margin: 10px;
    border: 2px solid #808080;
    border-radius: 5px;
}

.user-layout-profile img {
    margin-top: 10px;
}

.user-layout-profile h2 {
    margin: 0;
    margin-top: 5px;
}

.user-layout-profile > a {
    display: block;
    margin-bottom: 10px;
}

.user-layout-country {
    display: flex;
    justify-content: center;
}

.user-layout-stats {
    margin: 10px;
    padding: 10px;
    border: 2px solid #808080;
    border-radius: 5px;
    align-self: flex-start;
    max-height: 88vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-layout-stats h1 {
    text-align: center;
}

.user-layout-stats table {
    border-collapse: collapse;
    margin-top: 20px;
}

.user-layout-stats tr {
    border-bottom: 10px solid transparent;
}

.user-layout-stats td {
    width: 33.33%;
}

.user-layout-stats span {
    text-align: center;
}

.user-layout-game-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-layout-category {
    margin: 5px;
    text-align: center;
}

.user-layout-category h2 {
    margin: 5px;
}

.user-layout-category a {
    margin: 5px;
}