.userLayout {
    display: flex;
    padding: var(--app-padding);
    gap: var(--app-padding);
}

.left {
    max-width: var(--sidebar-width);
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    gap: var(--app-padding);
}

.right {
    flex: 1;
    min-height: calc(100vh - var(--navbar-height));
}

/* ===== MEDIA QUERIES FOR SMALLER DEVICES ===== */

@media (max-width: 1000px) {
    .userLayout {
        flex-direction: column;
    }

    .left {
        width: 100%;
        max-width: 100%;
    }
}