.user-layout {
    display: flex;
}

.user-layout-content {
    flex: 7;
}

.user-layout-sidebar {
    flex: 3;
}

.user-layout-profile {
    text-align: center;
    margin: 10px;
    border: 2px solid #808080;
    border-radius: 5px;
}

.user-layout-profile img {
    margin-top: 10px;
}

.user-layout-profile h2 {
    margin: 0;
    margin-top: 5px;
}

.user-layout-profile > a {
    display: block;
    margin-bottom: 10px;
}

.user-layout-country {
    display: flex;
    justify-content: center;
}

.user-layout-stats {
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: var(--navbar-height);
}

.user-layout-stats h1 {
    text-align: center;
}

.user-layout-stats h2 {
    text-align: center;
}

.user-layout-stats p { 
    text-align: center;
}

.user-layout-stats-menus {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 2px solid #808080;
    border-radius: 5px;
}

.user-layout-stats-row {
    margin: 5px 0; 
}

.user-layout-game-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 10px;
}

.user-layout-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-layout-category-links {
    display: flex;
    gap: 10px;
}