.gameSearch {
    width: 100%;
    margin: 0 auto;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.filterBtns {
    padding-left: 10px;
    gap: 5px;
}

.filterBtn {
    white-space: nowrap;
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.filterBtn:hover {
    background-color: #ddd;
}
  
.selected {
    background-color: black;
    color: #fff;
}

.selected:hover {
    background-color: #333333;
}

.body {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}