/* ===== GENERAL STYLING ===== */

.gameSearch {
    width: 100%;
    margin: 0 auto;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.filterBtns {
    padding-left: 10px;
    gap: 5px;
}

.body {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* ===== MEDIA QUERY FOR SMALLER DEVICES ===== */

@media (max-width: 600px) {
    .filters {
        flex-direction: column;
        gap: 0px;
    }
}