.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 8px;
}

.asset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}