.section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 12px 8px;
}

.section hr {
    width: 100%;
}

.sectionContent, .asset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mode {
    --offset: 10px;
    padding-left: var(--offset);
}

.level {
    padding-left: calc(2 * var(--offset));
    display: flex;
    flex-direction: row;
    gap: 10px;
}