.profile-header {
    text-align: center;
}

.profile-body {
    display: flex;
}

.profile-body h2 {
    text-align: center;
}

.profile-left {
    flex: 1;
    margin: 10px;
}

.profile-user-info {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.profile-info-entry {
    margin-top: 6px;
    margin-bottom: 6px;
}

.profile-info-entry label {
    display: block;
    margin-bottom: 6px;
}

.profile-url-text {
    width: 300px;
}

.profile-right {
    flex: 1;
    margin: 10px;
}

.profile-avatar-info {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.profile-avatar-form input[type="file"] {
    display: block;
    margin-top: 10px;
}

.profile-avatar-form img {
    width: 150px;
    height: 150px;
}

.profile-avatar-form button {
    margin-top: 10px;
}

.profile-email-info {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.profile-email-info button {
    margin-top: 10px;
}