.profile {
    margin-left: 10px;
}

.profile-entry {
    margin-top: 5px;
    margin-bottom: 5px;
}

form button {
    margin-bottom: 10px;
}

.p-update {
    margin: 0;
}

.profile-btns {
    margin-top: 10px;
}

.profile-btn {
    margin-right: 5px;
}