.profile-header {
    text-align: center;
}

.profile-body {
    display: flex;
}

.profile-body form button {
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-body h2 {
    text-align: center;
}

.profile-user-info {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.profile-info-entry {
    margin-top: 6px;
    margin-bottom: 6px;
}

.profile-info-entry label {
    display: block;
    margin-bottom: 6px;
}

.profile-url-text {
    width: 300px;
}

.profile-avatar-info {
    flex: 1;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.profile-avatar-form input[type="file"] {
    display: block;
    margin-top: 10px;
}

.profile-avatar-form img {
    width: 150px;
    height: 150px;
}

.profile-avatar-form button {
    margin-top: 10px;
}

.profile-footer {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-footer button {
    margin-right: 5px;
}