/* ===== GENERAL STYLING ===== */

.profile {
    padding: 20px;
}

.body {
    display: flex;
    gap: 20px;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ===== MEDIA QUERIES FOR CELL PHONES ===== */

@media (max-width: 767px) {
    .body {
        flex-direction: column;
        gap: 10px;
    }
}