.profile-header {
    margin-left: 10px;
}

.profile-body {
    margin-left: 10px;
}

.profile-body form button {
    margin-bottom: 10px;
}

.profile-info-entry {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-info-update {
    margin: 0;
}

.profile-avatar-form input[type="file"] {
    display: block;
    margin-top: 10px;
}

.profile-avatar-form img {
    width: 150px;
    height: 150px;
}

.profile-avatar-form button {
    margin-top: 10px;
}

.profile-btns button {
    margin-right: 5px;
}

.profiles-avatar {
    width: 150px;
    height: 150px;
}