.post {
    text-align: center;
}

.post-input-group {
    margin: 10px;
}

.post-form {
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.post-form button {
    display: block;
    margin: 0 auto;
}

.post-input-group textarea {
    width: 100%;
}

.post-input-group input {
    width: 100%;
}