.update {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update hr {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header h1, .header h2 {
    margin: 0;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formWrapper p {
    margin: 0;
    padding: 5px 0;
}

.row:hover {
    background-color: rgba(var(--color-container-selected), 0.5) !important;
    cursor: pointer;
}

.selected {
    background-color: rgb(var(--color-container-selected)) !important;
}

.selected:hover {
    cursor: default;
}

.submitBtns {
    display: flex;
    gap: 5px;
    justify-content: center;
}