.recent-submissions {
    width: 85%;
    margin: 0 auto;
}

.recent-submissions-btns {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.recent-submissions-filter-selected {
    display: flex;
    flex-direction: column;
}

.recent-submissions-filter-selected h2 {
    margin: 0;
    padding: 7.5px 0;
}

.recent-submissions-filter-selected p {
    margin: 0;
    padding: 7.5px 0;
}

.recent-submissions-filter-title {
    display: flex;
    gap: 10px;
}

.recent-submissions-filter-title button {
    margin: auto 0;
}

.recent-submissions-filter-boolean {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.recent-submissions-filter-btns {
    display: flex;
    gap: 5px;
}

.recent-submissions-filter-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.recent-submissions-filter-btn:hover {
    background-color: #ddd;
}
  
.recent-submissions-filter-btn-selected {
    background-color: black;
    color: #fff;
}

.recent-submissions-filter-btn-selected:hover {
    background-color: #333333;
}

.recent-submissions-filter-submit-btns {
    display: flex;
    gap: 5px;
}

.recent-submissions-filter-submit-btns button {
    margin: 15px 0;
}

#recent-submissions-filter-empty {
    padding-top: 7.5px;
    padding-bottom: 15px;
}

#recent-submissions-filter-submit-btns-right {
    justify-content: flex-end;
}