/* ===== GENERAL STYLING ===== */

.recentSubmissions {
    padding: var(--app-padding);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: var(--app-padding) 0;
    gap: 10px;
}

.header h1 {
    margin: 0;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

/* ===== MEDIA QUERY FOR SMALLER DEVICES ===== */

@media (max-width: 670px) {
    .header {
        flex-direction: column;
    }
}