.recentSubmissions {
    padding: var(--app-padding);
}

.header {
    display: flex;
    justify-content: space-between;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}