.users {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.users-header {
    margin: 12px 0;
}

.users-header h1 {
    margin: 0;
}

.users-header .searchbar-input {
    width: 40%;
}

.users-body {
    border: 1px solid black;
}

.users-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
}

.users-row-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.users-row-socials a {
    margin: 0 3px;
}

.users-row-discord button {
    padding: 0;
    border: none;
    background-color: white;
    text-align: center;
    margin: 0 3px;
}

.users-empty {
    padding: 5px;
}

.users-body-bottom {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.users-body-bottom button {
    margin-left: 5px;
    margin-right: 5px;
}

.users-body-bottom select {
    width: 50px;
}