.game-select {
    width: 90%;
    margin: 0 auto;
}

.game-select-header {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.game-select-header h1 {
    margin: 5px 0;
}

.game-select-filters {
    display: flex;
    justify-content: space-between;
}

.game-select-filter-btns {
    display: flex;
    gap: 5px;
    align-items: center;
}

.game-select-filter-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.game-select-filter-btn:hover {
    background-color: #ddd;
}
  
.game-select-filter-btn-selected {
    background-color: black;
    color: #fff;
}

.game-select-filter-btn-selected:hover {
    background-color: #333333;
}

.game-select-body {
    width: 85%;
}

.game-select-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}

.game-select-card {
    justify-self: start;
}

.game-select-card p {
    text-align: center;
}