.game-select {
    width: 90%;
    margin: 0 auto;
}

.game-select-header {
    text-align: left;
}

.game-select-body {
    width: 85%;
}

.game-select-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}

.game-select-card {
    justify-self: start;
}

.game-select-card p {
    text-align: center;
}