.gameFilter h1 {
    margin: 0;
}

.section {
    padding: 8px 0;
}

.gameFilter h2, .gameFilter p {
    margin: 0;
    padding: 8px 0;
}

.gameFilter hr {
    height: 2px;
    background-color: rgba(var(--color-container-selected), 0.8);
    border: none;
}

.btns {
    display: flex;
    gap: 5px;
    padding: 8px 0;
}