/* ===== GENERAL STYLING ===== */

.submission {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submission hr {
    width: 100%;
}

.header {
    margin: 0;
}

.header h1, .header h2 {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: row;
    gap: var(--app-padding);
}

.left {
    flex: 1;
}

.right {
    width: 360px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.formWrapper button {
    width: fit-content;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 7px;
}

.rejection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rejectionHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rejectionHeader h2, .rejectionHeader p {
    margin: 0;
}

/* ===== STYLING FOR MOBILE DEVICES ===== */

@media (max-width: 1067px) {
    .body {
        flex-direction: column;
    }

    .left {
        height: 200px;
    }

    .right {
        width: 100%;
    }
}