/* ===== GENERAL STYLING ===== */
.navWrapper {
    display: flex;
    height: var(--navbar-height);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: var(--z-top);
}

.nav { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: rgb(var(--color-nav));
    position: relative;
}

.logo {
    width: 100px;
}

.logo a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: .25rem;
    padding-right: .25rem;
    height: 100%;
}

.logo svg {
    width: 100%;
    height: 100%;
}

.list {
    display: flex;
    align-items: center;
    gap: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.list a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: .25rem;
    padding-right: .25rem;
    height: 100%;
}

.list a:hover {
    background-color: rgb(var(--color-nav-hover));
}