.nav-wrapper {
    display: flex;
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #333;
    color: white;
    position: relative;
}

.nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: .25rem;
    padding-right: .25rem;
    height: 100%;
}

.nav-logo-container {
    width: 10vh;
}

.nav-logo-container svg {
    width: 100%;
    height: 90%;
}

.nav-list {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.nav-list ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    height: 100%;
    padding-inline-start: 0;
}

.nav-list li:hover {
    background-color: #777;
}

.nav-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 4px;
}

.nav-profile {
    display: flex;
}

.nav-profile-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-profile-username {
    padding: 5px;
}

.nav-profile-username .username {
    display: flex;
    align-items: center;
}

.nav-profile-username .username a {
    padding: 0;
}

.nav-profile-links {
    display: flex;
}

.nav-profile-link {
    display: flex;
    justify-content: center;
    min-width: 40px;
}

.nav-profile-link button {
    display: flex;
}

#nav-logo {
    height: 80%;
    width: auto;
}

#nav-login:hover {
    background-color: #777;
}

#nav-create-btn:hover {
    background-color: #777;
}

#nav-profile-signout-btn {
    background-color: transparent;
    border: none;
    color: inherit;
}

#nav-profile-notifications {
    margin-bottom: auto;
    margin-top: auto;
}