.news {
    padding: var(--app-padding);
}

.post {
    background-color: rgb(var(--color-container));
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--container-border-radius);
}

.post hr {
    margin: 20px 0;
}