.news {
    padding: var(--app-padding);
}

.news h2 {
    margin: 0;
    padding: 10px 0;
}

.post {
    background-color: rgb(var(--color-container));
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--container-border-radius);
}

.post hr {
    margin: 15px 0;
}

.body {
    --line-height: 19px;
    padding-bottom: var(--line-height);
}

.body p {
    min-height: var(--line-height);
    margin: 0;
}