.moderator-layout-header {
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: var(--navbar-height);
}

.moderator-layout-tabs {
    display: flex;
    width: 100%;
}

.moderator-layout-tab {
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    width: 25%;
    line-height: calc(var(--navbar-height)/2);
}

.moderator-layout-tab-active {
    background-color: #ffffff;
    cursor: default;
}
  
.moderator-layout-tab:not(.moderator-layout-tab-active):hover {
    cursor: pointer;
}