/* ===== GENERAL STYLING ===== */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: var(--navbar-height);
    background-color: rgb(var(--color-container));
    z-index: var(--z-low);
    gap: 10px;
}

.verticalPadding {
    padding: 5px 0;
}

.header h2 {
    margin: 0;
}

.version {
    padding-left: 5px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.version select:focus {
    outline-width: 0;
}

.filter {
    display: flex;
    align-items: center;
    gap: 3px;
}

#live {
    width: var(--vanilla-checkbox-length);
    height: var(--vanilla-checkbox-length);
}

/* ===== MEDIA QUERY FOR SMALLER DEVICE ===== */

@media (max-width: 630px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .version {
        padding-left: 0;
    }
}