.stats-header {
    text-align: center;
}

.stats-radio {
    margin-top: 10px;
}

.stats-body {
    text-align: center;
    flex: 1;
}

.stats-table {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.stats-table table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.stats-table th {
    border: 1px solid black;
    padding: 4px 8px;
}

.stats-table td {
    border: 1px solid black;
    padding: 4px 8px;
}

.stats-table-header {
    margin-bottom: 10px;
}

.stats-table-header h2 {
    margin-bottom: 0px;
}

.stats-user-info {
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}

.stats-table-image {
    width: 50px;
    height: 50px;
}

.stats-records table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 25px auto;
    table-layout: fixed;
    width: 70%;
}

.stats-records th {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
}

.stats-records td {
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    border: 1px solid black;
}