.statsDirectory {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--navbar-height) + var(--app-padding));
}

.body {
    --remaining-space: calc(calc(100vh - var(--navbar-height)) - 60px);
    overflow-y: auto;
    max-height: calc(var(--remaining-space) - 78px);
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--color-container-selected), 0.5) transparent;
}

.body::-webkit-scrollbar {
    width: 1.5vh;
    background-color: rgb(var(--color-container));
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.body::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-container-selected), 0.5);
    border: 0.5vh solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
}

.body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--color-container-selected));
}

.body::-webkit-scrollbar-track {
    background-color: transparent;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu h2 {
    margin: 0;
    padding: 10px 0;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.game:hover {
    background-color: rgba(var(--color-container-hover));
}

.gameLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    min-height: 84px;
    gap: 7px;
}

.links {
    display: flex;
    gap: 5px;
}

/* ===== MEDIA QUERIES FOR SMALLER DEVICES ===== */

@media (max-width: 1000px) {
    .userLayout {
        flex-direction: column;
    }

    .left {
        width: 100%;
        max-width: 100%;
    }
}