.overview {
    display: flex;
    flex-direction: column;
    gap: var(--app-padding);
}

.overview strong {
    text-shadow: 0 0 3px rgb(200, 200, 200);
}

.content {
    font-size: 20px;
}

.boxartContainer {
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.boxart {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}